:root{
  --font-size-mobile-base: 10px;
  --font-size-mobile-large: 12px;
  --font-size-mobile-small: 8px;
  --font-color-mobile-input: #ef0d3c;
}
@media (max-width: 500px) {
  .head-nav {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
    top: 84px;
    padding: 10px;
    left: 9px;
    position: fixed;
    z-index: 9999;
    height: 88px;
    border-radius: 15px;
  }

  .head-nav.active {
    display: flex;
    color: var(--font-color-mobile-input);
    gap: 10px;
    margin-left: 20px;
    padding: 5px 20px;
  }
  .head-nav a{
    font-weight: bold;
  }

  .menu-mobile {
    display: block;
  }
  .search-col {
    order: 4;
    width: 100%;
  }
  .row {
    justify-content: space-between;
  }
  .container-head {
  padding: 8px 8px;
  }
  .logo-col {
    max-width: 100%;
  }
  .sec-productos{
    padding: 0;
  }
  .products-slid {
    margin: 0 6px 0 6px;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    gap: 4px;
    max-width: 100%;
    
  }
  .all-product-section {
    max-width: 100%;
    padding:0;
  }
  .btn-filters {
    margin-bottom: 12px;
    display: flex;
  }
  .open-filters-btn, .open-Sort-btn {
    border: 1px solid var(--font-color-mobile-input);
    font-weight: bold;
  }
  .all-product-container {
    justify-content: center;
  }
  .product {
  /*flex: 0 0 calc(33.33% - 12px);*/
  flex: 0 0 calc(50% - 12px);
  }

  .product-name {
    font-size: var(--font-size-mobile-large);
  }

  .product-prices {
    margin-bottom: 8px;
  }

  .price-current {
    font-size: var(--font-size-mobile-large);
    font-weight: bold;
  }

  .price-old {
    font-size: var(--font-size-mobile-base);
    margin-right: 4px;
  }

  .discount {
    font-size: var(--font-size-mobile-small);
    font-weight: 600;
  }
  .btn-buy {
    font-size:var(--font-size-mobile-base)
  }
  .sect-slider{
    padding:0;
  }
  .slider {
    max-width: 100%;
    padding-left: 0;
  }
  .btn-left, .btn-right{
    display: none;
  }
  /*description*/
  .container-description {
    padding: 8px;
  }

  .main-image img {
    height: 300px;
  }

  .thumbnails img {
    max-width: 60px;
    max-height: 60px;
  }

  #product-title {
    font-size: 12px;
  }

  .price-container {
    align-items: flex-start;
  }

  .quantity {
    width: 70px;
    padding: 4px 8px;
  }

  .btn-add-to-cart {
    padding: 10px;
    font-size: 14px;
  }
  .cart-item {
    flex-wrap: wrap;
    padding: 0%;
  }
  .cart-item-details {
    width: 70%
  }
  .cart-item-quantity {
    margin-left: 105px;
    margin-right: 57px;
  }
  .cart-page-container {
    flex-direction: column;
    align-items: center;
  }
  #cart-container {
    width: 99%;
  }
  #cart-summary {
    margin-bottom: 32px;
    position: static;
  }
  #aboutUs-container {
    padding: 20px;
  }
  #form-edit {
    padding: 20px;
  }
  #edit-title {
    font-size: 1.3rem;
  }
  #edit-submit {
    font-size: 0.95rem;
    padding: 10px;
  }
}
