:root{
  --header-background: #ef0d3c;
  --color-icon-header: #ffffff;
  --font-size-base: 16px;
  --font-size-large: 20px;
  --font-size-small: 12px;
  --font-color-input: #ffffff;
  --font-size-tittle: 28px;
  --font-family-base: 'Arial', 'sans-serif';
  --font-family-tittle: 'sans-serif', 'Arial';
  --font-color-current-price: #27ae60;
}

.hidden {
  display: none;
} 

body {
  font-family: var(--font-family-base);
  margin: 0;
}

.head-logo-row {
  background: var(--header-background);
}
.container-head {
  padding: 8px 12%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu-mobile svg {
  width: 28px;
  height: 28px;
  fill: var(--color-icon-header);
}

.logo-col {
  flex: 1;
  text-align: center;
  max-width: 40%;
}
.logo-img {
  max-height: 128px;
}

.actions-col {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.btn-user svg,
.btn-cart svg {
  width: 24px;
  height: 24px;
  fill: var(--color-icon-header)
}
.cart-col {
  position: relative;
}
.cart-badge {
  position: absolute;
  top: -12px;
  right: -8px;
  background: var(--color-icon-header);
  font-size: var(--font-size-small);
  padding: 2px 6px;
  border-radius: 50%;
}

.search-col {
  order: 0;     
  width: 30%;
  margin-top: 8px;
}

.search-form {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 8px 40px 8px 12px; 
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: var(--font-size-base);
  color: var(--color-icon-header);
  background: var(--header-background)
}

.search-input::placeholder {
  color: var(--font-color-input);
} 

.search-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-icon-header);
}


.search-btn svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.menu-mobile {
  display: none;
}

.head-nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: var(--header-background);
  height: 32px;
}

.head-nav a{
  text-decoration: none;
  color: var(--font-color-input);
  transition: color 0.3s ease;
}

.head-nav a:hover {
  color: #131212;;
}

.tittle-prd{
  font-family: var(--font-family-tittle);
  text-align: center;
  font-size: var(--font-size-tittle);
  margin: 12px 0;
  color: #333;
  font-weight: 600;
}
/* Contenedor de productos */
.sect-productos {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding-left: 8px;
}
.products-slid {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 12px;
  margin: 0 auto;
  scrollbar-width: none;
  max-width: 78%;
}
.products-slid::-webkit-scrollbar {
  display: none;
}

.product {
  flex: 0 0 calc(20% - 12px);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  scroll-snap-align: start;
  
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #eee;
  transition: transform 0.3s ease;
}

.product-image:hover {
   transform: scale(1.1);
}

.product-info {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.product-name {
  font-size: var(--font-size-base);
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}


.product-prices {
  margin-bottom: 8px;
}

.price-current {
  font-size: var(--font-size-base);
  font-weight: bold;
  color: var(--font-color-current-price);
  margin-right: 4px;
}

.price-old {
  font-size: var(--font-size-small);
  color: #999;
  text-decoration: line-through;
  margin-right: 4px;
}

.discount {
  font-size: var(--font-size-small);
  color: #e74c3c;
  font-weight: 600;
}


.btn-buy {
  margin-top: auto;
  width: 100%;
  padding: 10px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: #fff;
  background: #3498db;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-buy:hover {
  background: #2980b9;
}
.btn-left, .btn-right {
  border: none;
  font-size: 24px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}

.btn-left { left: 6%; }
.btn-right { right: 6%; }

/*contendor slider*/
.sect-slider{
  padding: 12px;
  margin: 7px;
}
.slider {
  position: relative;
  aspect-ratio: 16 / 7;
  overflow: hidden;
  padding-left: 8px;
  margin: 0 auto; 
  max-width: 80%;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.6s ease;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  height: 100%;
  object-fit: cover;
}

input[type="radio"] {
  display: none;
}


#slide0:checked ~ .slides {
  transform: translateX(0);
}
#slide1:checked ~ .slides {
  transform: translateX(-100%);
}
#slide2:checked ~ .slides {
  transform: translateX(-200%);
}

.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.navigation label {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s;
}

input#slide1:checked ~ .navigation label[for="slide1"],
input#slide2:checked ~ .navigation label[for="slide2"],
input#slide3:checked ~ .navigation label[for="slide3"] {
  background: #333;
}


/*description html*/
.container-description {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--font-size-base);
}

.row-description {
  display: flex;
  flex-wrap: wrap;
  gap: var(--font-size-base);
}


.container-images {
  flex: 0 1 70%;
}

.col#product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--font-size-base);
}


.product-images {
  display: flex;
  gap: 0 15%;
  flex-direction: row-reverse;
  justify-content: center;
}

.main-image img {
  width: 100%;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.thumbnails {
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.thumbnails img {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.breadcrumbs {
  font-size: var(--font-size-base);
  color: #020202;
}

#product-title{
  font-size: 32px;
}

.price-container {
  display: flex;
  gap: 6px;
  align-items: baseline;
  flex-direction: column;
}

.price-current-description {
  font-weight: bold;
  color: var(--font-color-current-price);
  margin-right: 4px;
  font-size: var(--font-size-large);
}
#product-form{
  display: flex;
  align-items: center;
}
.quantity{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  width: 80px;
  padding: 6px 12px;
}
.quantity input {
  width: 30px;
  font-size: var(--font-size-base);
  text-align: center;
  border: none;
}

.quantity button {
  cursor: pointer;
}
.quantity-decrease, .quantity-increase {
  border: none;
  background-color: transparent;
  font-size: var(--font-size-large);
}

.btn-add-to-cart {
  background-color: var(--header-background);
  width: 100%;
  color: white;
  border: none;
  padding: 12px 15px;
  cursor: pointer;
}

/*cart*/
#cart-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 60%;
}
#cart-container p {
 margin-top: 24px;
 font-size: var(--font-size-large);
}

.cart-item {
  display: flex;
  gap: 4%;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 10px 40px;  
}
.cart-item img {
  max-width: 160px;
  max-height: 160px;
  object-fit: cover; 
}
.cart-item h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;    
  width: 100%;        
}



.btn-remove, #btn-clear{
  background-color: var(--header-background);
  color: white;
  border: none;
  padding: 6px 12px;
  margin-top: 6px;
  cursor: pointer;
  border-radius: 4px;
  max-width: 80px;
}

#btn-buy {
  margin: 5px;
  padding: 10px 15px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-remove:hover, #btn-clear:hover {
  background-color: var(--header-background);
}

#cart-summary{
  text-align: center;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: fit-content;
  position: sticky;
  top: 0
}

main h1{
  text-align: center;
}

footer {
  background: var(--header-background);
  color: #fff;
  padding: 40px 20px;
  font-size: 14px;
  margin-top: 40px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ffcc00;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons a {
  margin-right: 10px;
}
.payment-icons {
  align-content: center;
}
.payment-icons img {
  background-color: #f8f7f7;
  margin-right: 10px;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 12px;
}


#aboutUs-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-family: var(--font-family-base);
  line-height: 1.6;
  color: #333;
}


#aboutUs-container h1 {
  text-align: center;
  font-size: var(--font-size-tittle);
  margin-bottom: 20px;
  color: #ff0000; 
  text-shadow: 2px 2px 0 #ffcc00;
}


#aboutUs-container h2 {
  margin-top: 30px;
  font-size: var(--font-size-tittle);
  color: #3b4cca;
  border-left: 6px solid #ffcc00;
  padding-left: 10px;
}

.about-us-image {
  display: block;
  max-width: 100%;
  border-radius: 12px;
  margin: 20px auto;
  box-shadow: 0 4px 10px #020202;
}


#aboutUs-container p {
  margin: 15px 0;
  font-size: var(--font-size-base);
  text-align: justify;
}


#aboutUs-container ul {
  margin: 20px 0;
  padding-left: 20px;
  list-style: none;
}

#aboutUs-container ul li {
  margin: 12px 0;
  padding: 10px;
  border-left: 4px solid var(--header-background);
  background: #f9f9f9;
  border-radius: 6px;
}

#aboutUs-container ul li strong {
  color: var(--header-background);
}

/*AllProduct*/

.all-product-section {
  max-width: 78%;
  padding: 8px;
  margin: 0 auto;
}
.all-product-container {
  display: flex;
  gap: 12px;
  scrollbar-width: none;
  flex-wrap: wrap;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.open-filters-btn {
  margin: 0 auto
}

.filter-section {
  margin-top: 15px;
}

.filter-header {
  cursor: pointer;
}




/*contactPage*/

.contact-page {
  max-width: 900px;
  margin: var(--font-size-large) auto;
  padding: var(--font-size-large);
  display: grid;
  gap: var(--font-size-large);
}
.contact-page p{
  text-align: center;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: var(--font-size-large);
}

.contact-form input,
.contact-form textarea {
  padding: var(--font-size-base);
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-enviar {
  padding: var(--font-size-small);
  border: none;
  background: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.btn-enviar:hover {
  background: #555;
}

.cart-alert {
  position: fixed;
  bottom: 10%;
  right: 20px;
  background: #4caf50;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px #020202;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.cart-alert.show {
  opacity: 1;
  pointer-events: auto;
}

.cart-page-container {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 40%
}
.cart-item-quantity {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  width: 80px;
  padding: 6px 12px;
  margin-top: 16px;
  border-radius: 8px;
  height: 24px;
}
.cart-item-quantity input {
  width: 30px;
  font-size: var(--font-size-base);
  text-align: center;
  border: none;
  margin-left: 10px
}
.btn-filters {
    margin-bottom: 16px;
    margin-top: 8px;
  }
.open-filters-btn, .open-Sort-btn {
    width: 50%;
    margin:0;
    padding: 10px;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
  }
/*login*/
.login-body{
  background: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  background: #fff;
  padding: 40px 50px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 380px;
  transition: all 0.3s ease;
}
.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-weight: 600; 
}
.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 13px;
}

.options label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #555;
}

.options a {
  color: #0077ff;
  text-decoration: none;
}
.btn {
  width: 100%;
  background: #0077ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}
.divider {
  text-align: center;
  margin: 20px 0;
  color: #999;
  font-size: 13px;
  position: relative;
}
.google-btn {
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.signup {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.signup a {
  color: #0077ff;
  text-decoration: none;
  font-weight: 500;
}

.error {
  display: none;
  background: #ffdddd;
  color: #a10000;
  border: 1px solid #ffa5a5;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 13px;
  margin-bottom: 15px;
  text-align: center;
}
/*Tablet */
@media (min-width: 501px) and (max-width: 1023px) {
  .head-nav {
    gap: 12px;
    height: auto;
  }

  .products-slid {
    max-width: 80%;
    gap: 8px;
  }



  .product-name {
    font-size: var(--font-size-small);
  }

  .price-current {
    font-size: var(--font-size-base);
  }

  .btn-buy {
    font-size: var(--font-size-base);
    padding: 8px;
  }

  .btn-left, .btn-right {
    font-size: 20px;
  }
  /*description*/
  .row-description {
    flex-direction: column;
  }

  .container-images {
    width: 100%;
  }

  .product-images {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .main-image img {
    height: 400px;
  }

  .thumbnails {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .thumbnails img {
    max-width: 80px;
    max-height: 80px;
  }

  #product-info {
    width: 100%;
  }
  .cart-item h4 {
    margin: 0;
  }
  .cart-page-container {
    flex-direction: column;
    align-items: center;
  }
  #cart-container {
    width: 99%;
  }
  #cart-summary {
    margin-bottom: 32px;
    position: static;
  }
  #aboutUs-container {
    padding: 20px;
  }

  #aboutUs-container h1 {
    font-size: 2rem;
  }

  #aboutUs-container h2 {
    font-size: 1.4rem;
  }
}