:root{
  --font-size-mobile-base: 10px;
  --font-size-mobile-large: 12px;
  --font-size-mobile-small: 8px;
}
@media (max-width: 500px) {
  .head-nav {
    display: none; 
    flex-direction: column;
    background-color: rgb(233, 84, 84);
    position: relative;
    top: 84px; 
    padding: 10px;
    left: 9px;
    position: fixed;
    z-index: 9999;
    height: 88px;
    border-radius: 15px;
  }

  .head-nav.active {
    display: flex;
  }
  .head-nav a{
    font-weight: bold;
  }

  .menu-mobile {
    display: block;
  }
  .search-col {
    order: 4;
    width: 100%;
  }
  .row {
    justify-content: space-between;
  }
  .container-head {
  padding: 8px 8px;
  }
  .logo-col {
    max-width: 100%;
  }
  .sec-productos{
    padding: 0;
  }
  .products-slid {
    margin: 0 6px 0 6px;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    gap: 4px;
    max-width: 100%;
    
  }
  .product {
  flex: 0 0 calc(33.33% - 12px);
  max-width: calc(33.33% - 12px);
  }

  .product-name {
    font-size: var(--font-size-mobile-large);
  }

  .product-prices {
    margin-bottom: 8px;
  }

  .price-current {
    font-size: var(--font-size-mobile-large);
    font-weight: bold;
  }

  .price-old {
    font-size: var(--font-size-mobile-base);
    margin-right: 4px;
  }

  .discount {
    font-size: var(--font-size-mobile-small);
    font-weight: 600;
  }
  .btn-buy {
    font-size:var(--font-size-mobile-base)
  }
  .sect-slider{
    padding:0;
  }
  .slider {
    max-width: 100%;
    padding-left: 0;
  }
  .btn-left, .btn-right{
    display: none;
  }
  /*description*/
  .container-description {
    padding: 8px;
  }

  .main-image img {
    height: 300px;
  }

  .thumbnails img {
    max-width: 60px;
    max-height: 60px;
  }

  #product-title {
    font-size: 12px;
  }

  .price-container {
    align-items: flex-start;
  }

  .quantity {
    width: 70px;
    padding: 4px 8px;
  }

  .btn-add-to-cart {
    padding: 10px;
    font-size: 14px;
  }
}