@media (max-width: 430px) {
  nav {
    display: none; 
    flex-direction: column;
    background-color:transparent;
    position: relative;
    top: -168px; 
    padding: 10px;
  }

  nav.active {
    display: flex;
  }

  .menu-mobile {
    display: block;
  }
  .search-col {
    order: 4;
    width: 100%;
  }
  .row {
    justify-content: space-between;
  }
  .container-head {
  padding: 8px 8px;
  }
  .logo-col {
    max-width: 100%;
  }
}