:root{
  --header-background: #ef0d3c;
  --color-icon-header: #ffffff;
  --font-size-base: 16px;
  --font-size-large: 20px;
  --font-size-small: 12px;
  --font-color-input: #ffffff;
  --font-size-tittle: 28px;
  --font-family-base: 'Arial', 'sans-serif';
  --font-family-tittle: 'sans-serif', 'Arial';
  --font-color-current-price: #27ae60;
}

.hidden {
  display: none;
} 

body {
  font-family: var(--font-family-base);
  margin: 0;
}

.head-logo-row {
  background: var(--header-background);
}
.container-head {
  padding: 8px 54px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu-mobile svg {
  width: 28px;
  height: 28px;
  fill: var(--color-icon-header);
}

.logo-col {
  flex: 1;
  text-align: center;
  max-width: 40%;
}
.logo-img {
  max-height: 128px;
}

.actions-col {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.btn-user svg,
.btn-cart svg {
  width: 24px;
  height: 24px;
  fill: var(--color-icon-header)
}
.cart-col {
  position: relative;
}
.cart-badge {
  position: absolute;
  top: -12px;
  right: -8px;
  background: var(--color-icon-header);
  font-size: var(--font-size-small);
  padding: 2px 6px;
  border-radius: 50%;
}

.search-col {
  order: 0;     
  width: 30%;
  margin-top: 8px;
}

.search-form {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 8px 40px 8px 12px; 
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: var(--font-size-base);
  color: var(--color-icon-header);
  background: var(--header-background)
}

.search-input::placeholder {
  color: var(--font-color-input);
} 

.search-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-icon-header);
}


.search-btn svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.menu-mobile {
  display: none;
}

.head-nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: var(--header-background);
  height: 32px;
}

.head-nav a{
  text-decoration: none;
  color: var(--font-color-input);
  transition: color 0.3s ease;
}

.head-nav a:hover {
  color: #131212;;
}
footer{
  background-color: var(--header-background);
  margin: 0;
  padding: 10px;
  justify-items: center;
}
.tittle-prd{
  font-family: var(--font-family-tittle);
  text-align: center;
  font-size: var(--font-size-tittle);
  margin: 12px 0;
  color: #333;
  font-weight: 600;
}
/* Contenedor de productos */
.sect-productos {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding-left: 8px;
}
.products-slid {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 12px;
  margin: 0 auto;
  scrollbar-width: none;
  max-width: 78%;
}
.products-slid::-webkit-scrollbar {
  display: none;
}

.product {
  flex: 0 0 calc(20% - 12px);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  scroll-snap-align: start;
  
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #eee;
}


.product-info {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.product-name {
  font-size: var(--font-size-base);
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}


.product-prices {
  margin-bottom: 8px;
}

.price-current {
  font-size: var(--font-size-base);
  font-weight: bold;
  color: var(--font-color-current-price);
  margin-right: 4px;
}

.price-old {
  font-size: var(--font-size-small);
  color: #999;
  text-decoration: line-through;
  margin-right: 4px;
}

.discount {
  font-size: var(--font-size-small);
  color: #e74c3c;
  font-weight: 600;
}


.btn-buy {
  margin-top: auto;
  width: 100%;
  padding: 10px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: #fff;
  background: #3498db;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-buy:hover {
  background: #2980b9;
}
.btn-left, .btn-right {
  border: none;
  font-size: 24px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}

.btn-left { left: 6%; }
.btn-right { right: 6%; }

/*contendor slider*/
.sect-slider{
  padding: 12px;
  margin: 7px;
}
.slider {
  position: relative;
  aspect-ratio: 16 / 7;
  overflow: hidden;
  padding-left: 8px;
  margin: 0 auto; 
  max-width: 80%;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.6s ease;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  height: 100%;
  object-fit: cover;
}

input[type="radio"] {
  display: none;
}


#slide1:checked ~ .slides {
  transform: translateX(0);
}
#slide2:checked ~ .slides {
  transform: translateX(-100%);
}
#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.navigation label {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s;
}

input#slide1:checked ~ .navigation label[for="slide1"],
input#slide2:checked ~ .navigation label[for="slide2"],
input#slide3:checked ~ .navigation label[for="slide3"] {
  background: #333;
}

/*Tablet */
@media (min-width: 501px) and (max-width: 1023px) {
  .head-nav {
    gap: 12px;
    height: auto;
  }

  .products-slid {
    max-width: 80%;
    gap: 8px;
  }

  .product {
    flex: 0 0 calc(25% - 8px); 
    max-width: calc(25% - 8px);
  }

  .product-name {
    font-size: var(--font-size-small);
  }

  .price-current {
    font-size: var(--font-size-base);
  }

  .btn-buy {
    font-size: var(--font-size-base);
    padding: 8px;
  }

  .btn-left, .btn-right {
    font-size: 20px;
  }
  /*description*/
  .row-description {
    flex-direction: column;
  }

  .container-images {
    width: 100%;
  }

  .product-images {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .main-image img {
    height: 400px;
  }

  .thumbnails {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .thumbnails img {
    max-width: 80px;
    max-height: 80px;
  }

  #product-info {
    width: 100%;
  }
}
/*description html*/
.container-description {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--font-size-base);
}

.row-description {
  display: flex;
  flex-wrap: wrap;
  gap: var(--font-size-base);
}


.container-images {
  flex: 0 1 70%;
}

.col#product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--font-size-base);
}


.product-images {
  display: flex;
  gap: 0 15%;
  flex-direction: row-reverse;
  justify-content: center;
}

.main-image img {
  width: 100%;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.thumbnails {
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.thumbnails img {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.breadcrumbs {
  font-size: var(--font-size-base);
  color: #020202;
}

#product-title{
  font-size: 32px;
}

.price-container {
  display: flex;
  gap: 6px;
  align-items: baseline;
  flex-direction: column;
}

.price-current-description {
  font-weight: bold;
  color: var(--font-color-current-price);
  margin-right: 4px;
  font-size: var(--font-size-large);
}
#product-form{
  display: flex;
  align-items: center;
}
.quantity{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  width: 80px;
  padding: 6px 12px;
}
.quantity input {
  width: 30px;
  font-size: var(--font-size-base);
  text-align: center;
  border: none;
}

.quantity button {
  cursor: pointer;
}
.quantity-decrease, .quantity-increase {
  border: none;
  background-color: transparent;
  font-size: var(--font-size-large);
}

.btn-add-to-cart {
  background-color: var(--header-background);
  width: 100%;
  color: white;
  border: none;
  padding: 12px 15px;
  cursor: pointer;
}

