:root{
  --header-background: #ef0d3c;
  --color-icon-header: #ffffff;
  --font-size-base: 16px;
  --font-size-large: 20px;
  --font-size-small: 12px;
  --font-color-input: #ffffff;
}

.hidden {
  display: none;
} 

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.head-logo-row {
  background: var(--header-background);
}
.container-head {
  padding: 8px 54px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu-mobile svg {
  width: 28px;
  height: 28px;
  fill: var(--color-icon-header);
}

.logo-col {
  flex: 1;
  text-align: center;
  max-width: 40%;
}
.logo-img {
  max-height: 128px;
}

.actions-col {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.btn-user svg,
.btn-cart svg {
  width: 24px;
  height: 24px;
  fill: var(--color-icon-header)
}
.cart-col {
  position: relative;
}
.cart-badge {
  position: absolute;
  top: -12px;
  right: -8px;
  background: var(--color-icon-header);
  font-size: var(--font-size-small);
  padding: 2px 6px;
  border-radius: 50%;
}

.search-col {
  order: 0;     
  width: 30%;
  margin-top: 8px;
}

.search-form {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 8px 40px 8px 12px; 
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: var(--font-size-base);
  color: var(--color-icon-header);
  background: var(--header-background)
}

.search-input::placeholder {
  color: var(--font-color-input);
} 

.search-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-icon-header);
}


.search-btn svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.menu-mobile {
  display: none;
}

nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: var(--header-background);
  height: 32px;
}

nav a{
  text-decoration: none;
  color: var(--font-color-input);
  transition: color 0.3s ease;
}

nav a:hover {
  color: #c20a30;;
}
footer{
  background-color: var(--header-background);
  margin: 0;
  padding: 10px;
  justify-items: center;
}
section {
  justify-items: center;
}
